# CODEOWNERS documentation : https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

* @ContentSquare/tag-functions

# GitHub Copilot agents folder ownership
.github/agents/* @ContentSquare/tag-functions